In [88]:
import pandas as pd

df1=pd.read_csv('Hyderabad.csv')  
df2=pd.read_csv('Kolkata.csv')  
df3=pd.read_csv('Bangalore.csv')  
df4=pd.read_csv('Mumbai.csv')  
df5=pd.read_csv('Delhi.csv')  
df6=pd.read_csv('Chennai.csv')

In [ ]:
#TOOK 2-3 hrs FOR ONE CSV 

import requests
import pandas as pd

def geocode(location, state):
    # send a GET request to the Nominatim API with the location and state as parameters
    response = requests.get(f"https://nominatim.openstreetmap.org/search?q={location},{state}&format=json")

    # extract the latitude and longitude from the response
    if response.ok:
        data = response.json()
        if data:
            lat = data[0]["lat"]
            lon = data[0]["lon"]
            return lat, lon
    return None, None

# create a sample DataFrame with a 'location' column

# apply the geocoding function to each value in the 'location' column using the 'apply()' method
df3[['latitude', 'longitude']] = df3.apply(lambda x: geocode(x['Location'], 'Tamilnadu'), axis=1, result_type='expand')

print(df3)

In [ ]:
#to save in local storage as csv file from JUPYTER NOTEBOOK

df3.to_csv('final_chennai.csv')

In [ ]:
#to save in local storage as csv file from GOOGLE COLLAB

from google.colab import files
df3.to_csv('final_chennai.csv', encoding = 'utf-8-sig') 
files.download('final_chennai.csv')

In [24]:
import pandas as pd

df1=pd.read_csv('final_hyderabad.csv')  
df2=pd.read_csv('final_chennai.csv')  

df4=pd.read_csv('final_delhi.csv')  
df5=pd.read_csv('final_banglore.csv')  
df6=pd.read_csv('final_mumbai.csv')

In [25]:
df1=df1.drop(['Unnamed: 0'],axis=1)
df2=df2.drop(['Unnamed: 0'],axis=1)

#df4=df4.drop(['Unnamed: 0'],axis=1)
df5=df5.drop(['Unnamed: 0'],axis=1)
df6=df6.drop(['Unnamed: 0'],axis=1)

In [26]:
#no need of these columns
df1 = df1.drop(['Refrigerator','Sofa','DiningTable','TV','GolfCourse','Microwave','BED','Wifi','AC','WashingMachine','Intercom','StaffQuarter','MaintenanceStaff', 'RainWaterHarvesting', 'MultipurposeRoom', 'Wardrobe'],axis=1)
df2 = df2.drop(['Refrigerator','Sofa','DiningTable','TV','GolfCourse','Microwave','BED','Wifi','AC','WashingMachine','Intercom','StaffQuarter','MaintenanceStaff', 'RainWaterHarvesting', 'MultipurposeRoom', 'Wardrobe'],axis=1)

df4 = df4.drop(['Refrigerator','Sofa','DiningTable','TV','GolfCourse','Microwave','BED','Wifi','AC','WashingMachine','Intercom','StaffQuarter','MaintenanceStaff', 'RainWaterHarvesting', 'MultipurposeRoom', 'Wardrobe'],axis=1)
df5 = df5.drop(['Refrigerator','Sofa','DiningTable','TV','GolfCourse','Microwave','BED','Wifi','AC','WashingMachine','Intercom','StaffQuarter','MaintenanceStaff', 'RainWaterHarvesting', 'MultipurposeRoom', 'Wardrobe'],axis=1)
df6 = df6.drop(['Refrigerator','Sofa','DiningTable','TV','GolfCourse','Microwave','BED','Wifi','AC','WashingMachine','Intercom','StaffQuarter','MaintenanceStaff', 'RainWaterHarvesting', 'MultipurposeRoom', 'Wardrobe'],axis=1)

In [27]:
#price in lakhs

df1['price']= df1['Price']/100000
df1.drop('Price', axis=1, inplace=True)
df2['price']= df2['Price']/100000
df2.drop('Price', axis=1, inplace=True)

df4['price']= df4['Price']/100000
df4.drop('Price', axis=1, inplace=True)
df5['price']= df5['Price']/100000
df5.drop('Price', axis=1, inplace=True)
df6['price']= df6['Price']/100000
df6.drop('Price', axis=1, inplace=True)

In [28]:
#changing column name
df1=df1.rename(columns={"Children'splayarea": "Childrensplayarea"})
df2=df2.rename(columns={"Children'splayarea": "Childrensplayarea"})
df4=df4.rename(columns={"Children'splayarea": "Childrensplayarea"})
df5=df5.rename(columns={"Children'splayarea": "Childrensplayarea"})
df6=df6.rename(columns={"Children'splayarea": "Childrensplayarea"})

In [29]:
# sort the dataset df based on location in ascending order
df1=df1.sort_values('Location', ascending=True)
df2 = df2.sort_values('Location', ascending=True)

df4 = df4.sort_values('Location', ascending=True)
df5 = df5.sort_values('Location', ascending=True)
df6 = df6.sort_values('Location', ascending=True)

In [30]:
#rearranging columns
df1 = df1.reindex(columns=['price', 'Area', 'Location','latitude','longitude', 'No. of Bedrooms', 'Resale','VaastuCompliant','Gymnasium', 'SwimmingPool', 'LandscapedGardens', 'JoggingTrack', 'IndoorGames','ShoppingMall','SportsFacility','ATM','ClubHouse','School','Cafeteria','Hospital','Childrensplayarea','PowerBackup', 'CarParking', 'LiftAvailable', '24X7Security', 'Gasconnection'])
df2 = df2.reindex(columns=['price', 'Area', 'Location','latitude','longitude', 'No. of Bedrooms', 'Resale','VaastuCompliant','Gymnasium', 'SwimmingPool', 'LandscapedGardens', 'JoggingTrack', 'IndoorGames','ShoppingMall','SportsFacility','ATM','ClubHouse','School','Cafeteria','Hospital','Childrensplayarea','PowerBackup', 'CarParking', 'LiftAvailable', '24X7Security', 'Gasconnection'])

df4 = df4.reindex(columns=['price', 'Area', 'Location','latitude','longitude', 'No. of Bedrooms', 'Resale','VaastuCompliant','Gymnasium', 'SwimmingPool', 'LandscapedGardens', 'JoggingTrack', 'IndoorGames','ShoppingMall','SportsFacility','ATM','ClubHouse','School','Cafeteria','Hospital','Childrensplayarea','PowerBackup', 'CarParking', 'LiftAvailable', '24X7Security', 'Gasconnection'])
df5 = df5.reindex(columns=['price', 'Area', 'Location','latitude','longitude', 'No. of Bedrooms', 'Resale','VaastuCompliant','Gymnasium', 'SwimmingPool', 'LandscapedGardens', 'JoggingTrack', 'IndoorGames','ShoppingMall','SportsFacility','ATM','ClubHouse','School','Cafeteria','Hospital','Childrensplayarea','PowerBackup', 'CarParking', 'LiftAvailable', '24X7Security', 'Gasconnection'])
df6 = df6.reindex(columns=['price', 'Area', 'Location','latitude','longitude', 'No. of Bedrooms', 'Resale','VaastuCompliant','Gymnasium', 'SwimmingPool', 'LandscapedGardens', 'JoggingTrack', 'IndoorGames','ShoppingMall','SportsFacility','ATM','ClubHouse','School','Cafeteria','Hospital','Childrensplayarea','PowerBackup', 'CarParking', 'LiftAvailable', '24X7Security', 'Gasconnection'])

In [31]:
#dropping rows with empty entries
df1 = df1.dropna()
df2 = df2.dropna()

df4 = df4.dropna()
df5 = df5.dropna()
df6 = df6.dropna()

In [32]:
import numpy as np

df1.replace(9, np.nan, inplace=True)
df1 = df1.dropna()

df2.replace(9, np.nan, inplace=True)
df2 = df2.dropna()



df4.replace(9, np.nan, inplace=True)
df4 = df4.dropna()

df5.replace(9, np.nan, inplace=True)
df5 = df5.dropna()

df6.replace(9, np.nan, inplace=True)
df6 = df6.dropna()

In [33]:
for col in df1.columns:
    if col != 'Price' and col != 'latitude'and col != 'longitude' and df1[col].dtype == 'float64':
        df1[col] = df1[col].astype('int')
        
for col in df2.columns:
    if col != 'Price' and col != 'latitude'and col != 'longitude' and df2[col].dtype == 'float64':
        df2[col] = df2[col].astype('int')
        
        
for col in df4.columns:
    if col != 'Price' and col != 'latitude'and col != 'longitude' and df4[col].dtype == 'float64':
        df4[col] = df4[col].astype('int')
        
for col in df5.columns:
    if col != 'Price' and col != 'latitude'and col != 'longitude' and df5[col].dtype == 'float64':
        df5[col] = df5[col].astype('int')
        
for col in df6.columns:
    if col != 'Price' and col != 'latitude'and col != 'longitude' and df6[col].dtype == 'float64':
        df6[col] = df6[col].astype('int')

In [34]:
# Create a list of columns to combine
columns_to_combine = ['Gymnasium', 'SwimmingPool', 'LandscapedGardens', 'JoggingTrack', 'IndoorGames','ShoppingMall','SportsFacility','ATM','ClubHouse','School','Cafeteria','Hospital','Childrensplayarea']

# Concatenate the values in the columns using ',' as separator
df1['nearbyresources'] = df1[columns_to_combine].apply(lambda row: ''.join(row.dropna().astype(str)), axis=1)

# Convert the combined values to integer
df1['nearbyresources'] = df1['nearbyresources'].astype(str)

# Drop the original columns
df1.drop(columns=columns_to_combine, inplace=True)


df2['nearbyresources'] = df2[columns_to_combine].apply(lambda row: ''.join(row.dropna().astype(str)), axis=1)
df2['nearbyresources'] = df2['nearbyresources'].astype(str)
df2.drop(columns=columns_to_combine, inplace=True)


df4['nearbyresources'] = df4[columns_to_combine].apply(lambda row: ''.join(row.dropna().astype(str)), axis=1)
df4['nearbyresources'] = df4['nearbyresources'].astype(str)
df4.drop(columns=columns_to_combine, inplace=True)

df5['nearbyresources'] = df5[columns_to_combine].apply(lambda row: ''.join(row.dropna().astype(str)), axis=1)
df5['nearbyresources'] = df5['nearbyresources'].astype(str)
df5.drop(columns=columns_to_combine, inplace=True)

df6['nearbyresources'] = df6[columns_to_combine].apply(lambda row: ''.join(row.dropna().astype(str)), axis=1)
df6['nearbyresources'] = df6['nearbyresources'].astype(str)
df6.drop(columns=columns_to_combine, inplace=True)

In [35]:
# Create a list of columns to combine
columns_to_combine = ['PowerBackup', 'CarParking', 'LiftAvailable', '24X7Security', 'Gasconnection']

# Concatenate the values in the columns using ',' as separator
df1['essentials'] = df1[columns_to_combine].apply(lambda row: ''.join(row.dropna().astype(str)), axis=1)

# Convert the combined values to integer
df1['essentials'] = df1['essentials'].astype(str)

# Drop the original columns
df1.drop(columns=columns_to_combine, inplace=True) 

df2['essentials'] = df2[columns_to_combine].apply(lambda row: ''.join(row.dropna().astype(str)), axis=1)
df2['essentials'] = df2['essentials'].astype(str)
df2.drop(columns=columns_to_combine, inplace=True) 



df4['essentials'] = df4[columns_to_combine].apply(lambda row: ''.join(row.dropna().astype(str)), axis=1)
df4['essentials'] = df4['essentials'].astype(str)
df4.drop(columns=columns_to_combine, inplace=True) 

df5['essentials'] = df5[columns_to_combine].apply(lambda row: ''.join(row.dropna().astype(str)), axis=1)
df5['essentials'] = df5['essentials'].astype(str)
df5.drop(columns=columns_to_combine, inplace=True) 

df6['essentials'] = df6[columns_to_combine].apply(lambda row: ''.join(row.dropna().astype(str)), axis=1)
df6['essentials'] = df6['essentials'].astype(str)
df6.drop(columns=columns_to_combine, inplace=True)

In [13]:
# changeall the below 4 cols to int from binary(str)
   
def binary_to_int(binary_str):
    return int(binary_str, 2)

# Apply the function to the column
df1['nearbyresources'] = df1['nearbyresources'].apply(binary_to_int)
df1['essentials'] = df1['essentials'].apply(binary_to_int)

df2['nearbyresources'] = df2['nearbyresources'].apply(binary_to_int)
df2['essentials'] = df2['essentials'].apply(binary_to_int)


df4['nearbyresources'] = df4['nearbyresources'].apply(binary_to_int)
df4['essentials'] = df4['essentials'].apply(binary_to_int)

df5['nearbyresources'] = df5['nearbyresources'].apply(binary_to_int)
df5['essentials'] = df5['essentials'].apply(binary_to_int)

df6['nearbyresources'] = df6['nearbyresources'].apply(binary_to_int)
df6['essentials'] = df6['essentials'].apply(binary_to_int)

In [16]:
entry_lengths = df['essentials'].str.len()

# create a boolean mask indicating which rows have a length of 5 in the "Column_name" column
mask = entry_lengths == 5

# drop rows that do not have a length of 5 in the "Column_name" column
df = df[mask]

NameError: name 'df' is not defined

In [ ]:
entry_lengths = df['nearbyresources'].str.len()

# create a boolean mask indicating which entries have a length of 13
mask = entry_lengths == 13

# drop entries that do not have a length of 13
df = df[mask]

In [36]:
# reset the index of the sorted dataframe
df1 = df1.reset_index(drop=True)
df2 = df2.reset_index(drop=True)

df4 = df4.reset_index(drop=True)
df5 = df5.reset_index(drop=True)
df6 = df6.reset_index(drop=True)

In [37]:
df1

,price,Area,Location,latitude,longitude,No. of Bedrooms,Resale,VaastuCompliant,nearbyresources,essentials
0,69,1500,AS Rao Nagar,17.479869,78.550965,3,0,0,0000000000001,10100
1,25,680,AS Rao Nagar,17.479869,78.550965,2,1,0,0000000000000,00000
2,52,1440,AS Rao Nagar,17.479869,78.550965,3,1,1,0000010101010,11110
3,60,1200,AS Rao Nagar,17.479869,78.550965,2,1,1,0000010101000,11110
4,25,680,AS Rao Nagar,17.479869,78.550965,1,0,0,0000000000000,00000
...,...,...,...,...,...,...,...,...,...,...
2017,85,1420,new nallakunta,17.395975,78.509227,3,0,0,0000000000000,01100
2018,80,1400,new nallakunta,17.395975,78.509227,2,1,0,0000000000000,11110
2019,50,1100,new nallakunta,17.395975,78.509227,2,1,0,0000000000000,11100
2020,39,1100,nizampet road,17.498777,78.389720,2,0,0,0000000000000,11110
2021,46,1190,nizampet road,17.498777,78.389720,2,0,0,0000000000000,00000

In [39]:
df1.to_csv('FINAL_hyd.csv', index=False)
df2.to_csv('FINAL_che.csv', index=False)
df3.to_csv('FINAL_kol.csv', index=False)
df4.to_csv('FINAL_del.csv', index=False)
df5.to_csv('FINAL_bang.csv', index=False)
df6.to_csv('FINAL_mum.csv', index=False)

In [25]:
import pandas as pd
import numpy as np
from sklearn.model_selection import KFold, cross_val_score
from sklearn.ensemble import RandomForestRegressor, VotingRegressor
import xgboost as xgb
import math
from sklearn.metrics import mean_absolute_error,r2_score

X = df1.drop(['price','Location'], axis=1).values
y = df1[['price']].values
y=y.ravel()

# Set max_features to the square root of the number of features
max_features = int(math.sqrt(X.shape[1]))

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Define models
rf_model = RandomForestRegressor(n_estimators=1000, random_state=42,max_depth=20, min_samples_split=20, min_samples_leaf=10, max_features=max_features)
xgb_model = xgb.XGBRegressor(n_estimators=800, random_state=42)


# Ensemble models
# Combine the models using voting ensemble
ensemble_model1 = VotingRegressor(estimators=[('rf', rf_model), ('gb', xgb_model)])
ensemble_model1.fit(X_test, y_test)

y_pred = ensemble_model1.predict([[[1000.0, 17.4930841, 78.4054408, 2.0, 1, 1, 8191, 31]]])
y_pred
r2 = r2_score(y_test, y_pred)
print("r2:",r2)

mae = mean_absolute_error(y_test, y_pred)
print("Mean absolute error:", mae)


#import joblib
#joblib.dump(ensemble_model1,'hyderabad-pred.joblib')

array([59.20877667])

In [277]:
import pandas as pd
import numpy as np
from sklearn.model_selection import KFold, cross_val_score
from sklearn.ensemble import RandomForestRegressor
import xgboost as xgb

X = df2.drop(['price','Location'], axis=1).values
y = df2[['price']].values
y=y.ravel()

# Set max_features to the square root of the number of features
max_features = int(sqrt(X.shape[1]))

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Define models
rf_model = RandomForestRegressor(n_estimators=1000, random_state=42,max_depth=20, min_samples_split=20, min_samples_leaf=10, max_features=max_features)
xgb_model = xgb.XGBRegressor(n_estimators=800, random_state=42)


# Ensemble models
# Combine the models using voting ensemble
ensemble_model1 = VotingRegressor(estimators=[('rf', rf_model), ('gb', xgb_model)])
ensemble_model1.fit(X, y)

y_pred = ensemble_model1.predict(X_test)
y_pred
r2 = r2_score(y_test, y_pred)
print("r2:",r2)

mae = mean_absolute_error(y_test, y_pred)
print("Mean absolute error:", mae)


import joblib
joblib.dump(ensemble_model1,'chennai-pred.joblib')

r2: 0.9795993185690118
Mean absolute error: 6.788329092071785

['chennai-pred.joblib']

In [38]:
#PREPROCESSING FOR KOLKATA DATASET(somany '9' values are there,so sperate preprocessing)

import pandas as pd
df3=pd.read_csv('final_kolkata.csv')
df3

df3 = df3.dropna()
df3

df3.replace(9, 0, inplace=True)
df3

df3=df3.drop(['Unnamed: 0'],axis=1)

df3 = df3.drop(['Refrigerator','Sofa','DiningTable','TV','GolfCourse','Microwave','BED','Wifi','AC','WashingMachine','Intercom','StaffQuarter','MaintenanceStaff', 'RainWaterHarvesting', 'MultipurposeRoom', 'Wardrobe'],axis=1)

df3['price']= df3['Price']/100000
df3.drop('Price', axis=1, inplace=True)

df3=df3.rename(columns={"Children'splayarea": "Childrensplayarea"})

df3 = df3.reindex(columns=['price', 'Area', 'Location','latitude','longitude', 'No. of Bedrooms', 'Resale','VaastuCompliant','Gymnasium', 'SwimmingPool', 'LandscapedGardens', 'JoggingTrack', 'IndoorGames','ShoppingMall','SportsFacility','ATM','ClubHouse','School','Cafeteria','Hospital','Childrensplayarea','PowerBackup', 'CarParking', 'LiftAvailable', '24X7Security', 'Gasconnection'])

for col in df3.columns:
    if col != 'Price' and col != 'latitude'and col != 'longitude' and df3[col].dtype == 'float64':
        df3[col] = df3[col].astype('int')

columns_to_combine = ['Gymnasium', 'SwimmingPool', 'LandscapedGardens', 'JoggingTrack', 'IndoorGames','ShoppingMall','SportsFacility','ATM','ClubHouse','School','Cafeteria','Hospital','Childrensplayarea']

df3['nearbyresources'] = df3[columns_to_combine].apply(lambda row: ''.join(row.dropna().astype(str)), axis=1)
df3['nearbyresources'] = df3['nearbyresources'].astype(str)
df3.drop(columns=columns_to_combine, inplace=True)

columns_to_combine = ['PowerBackup', 'CarParking', 'LiftAvailable', '24X7Security', 'Gasconnection']

df3['essentials'] = df3[columns_to_combine].apply(lambda row: ''.join(row.dropna().astype(str)), axis=1)
df3['essentials'] = df3['essentials'].astype(str)
df3.drop(columns=columns_to_combine, inplace=True)

def binary_to_int(binary_str):
    return int(binary_str, 2)

# Apply the function to the column
df3['nearbyresources'] = df3['nearbyresources'].apply(binary_to_int)
df3['essentials'] = df3['essentials'].apply(binary_to_int)


df3=df3.sort_values('Location')
df3 = df3.reset_index(drop=True)
df3

df3 = df3.drop_duplicates(subset=['Location','No. of Bedrooms','Resale', 'VaastuCompliant', 'nearbyresources', 'essentials'], keep='first')
df3

# calculate the IQR for the price column
Q1 = df3['price'].quantile(0.25)
Q3 = df3['price'].quantile(0.75)
IQR = Q3 - Q1

# remove data points outside the IQR
df3 = df3[(df3['price'] >= Q1 - 1.5*IQR) & (df3['price'] <= Q3 + 1.5*IQR)]
df3

,price,Area,Location,latitude,longitude,No. of Bedrooms,Resale,VaastuCompliant,nearbyresources,essentials
0,60,850,Acharya Jagadish Chandra Bose Road,22.540937,88.341313,2,1,0,0000000000000,00000
1,42,1470,Action Area I,22.574734,88.482364,3,1,0,0000000000000,00000
2,34,962,Action Area I,22.574734,88.482364,2,1,0,0000000000000,00000
3,101,1550,Action Area II Newtown,22.623194,88.443733,3,0,0,0000000000000,00000
5,125,853,Airport,22.505445,88.294009,3,1,0,0000000000000,00000
...,...,...,...,...,...,...,...,...,...,...
5017,75,1281,south dum dum,22.644621,88.376159,3,0,0,0000000000000,00000
5018,51,1281,south dum dum,22.644621,88.376159,3,1,1,0000000000000,00100
5022,42,772,south dum dum,22.644621,88.376159,2,1,0,0000000000000,00000
5023,50,1126,south dum dum,22.644621,88.376159,4,1,0,0000000000000,00000
5028,62,940,south dum dum,22.644621,88.376159,2,0,0,0000000000000,00000

In [419]:
import pandas as pd
import numpy as np
from sklearn.model_selection import KFold, cross_val_score
from sklearn.ensemble import RandomForestRegressor
import xgboost as xgb

X = df3.drop(['price','Location'], axis=1).values
y = df3[['price']].values
y=y.ravel()
# Set max_features to the square root of the number of features
max_features = int(sqrt(X.shape[1]))

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=84)

# Define models
rf_model = RandomForestRegressor(n_estimators=1000, random_state=84,max_depth=20, min_samples_split=20, min_samples_leaf=10, max_features=8)
xgb_model = xgb.XGBRegressor(n_estimators=800, random_state=84)


# Ensemble models
# Combine the models using voting ensemble
ensemble_model1 = VotingRegressor(estimators=[('rf', rf_model), ('gb', xgb_model)])
ensemble_model1.fit(X, y)

y_pred = ensemble_model1.predict(X_test)
y_pred
r2 = r2_score(y_test, y_pred)
print("r2:",r2)

mae = mean_absolute_error(y_test, y_pred)
print("Mean absolute error:", mae)

import joblib
joblib.dump(ensemble_model1,'kolkata-pred.joblib')

r2: 0.8236973313983813
Mean absolute error: 9.10773281191849

['kolkata-pred.joblib']

In [279]:
import pandas as pd
import numpy as np
from sklearn.model_selection import KFold, cross_val_score
from sklearn.ensemble import RandomForestRegressor
import xgboost as xgb

X = df4.drop(['price','Location'], axis=1).values
y = df4[['price']].values
y=y.ravel()

# Set max_features to the square root of the number of features
max_features = int(sqrt(X.shape[1]))

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Define models
rf_model = RandomForestRegressor(n_estimators=1000, random_state=42,max_depth=20, min_samples_split=20, min_samples_leaf=10, max_features=max_features)
xgb_model = xgb.XGBRegressor(n_estimators=800, random_state=42)


# Ensemble models
# Combine the models using voting ensemble
ensemble_model1 = VotingRegressor(estimators=[('rf', rf_model), ('gb', xgb_model)])
ensemble_model1.fit(X, y)

y_pred = ensemble_model1.predict(X_test)
y_pred
r2 = r2_score(y_test, y_pred)
print("r2:",r2)

mae = mean_absolute_error(y_test, y_pred)
print("Mean absolute error:", mae)

import joblib
joblib.dump(ensemble_model1,'delhi-pred.joblib')

r2: 0.9571138745584457
Mean absolute error: 8.474629731932101

['delhi-pred.joblib']

In [280]:
import pandas as pd
import numpy as np
from sklearn.model_selection import KFold, cross_val_score
from sklearn.ensemble import RandomForestRegressor
import xgboost as xgb


X = df5.drop(['price','Location'], axis=1).values
y = df5[['price']].values
y=y.ravel()

# Set max_features to the square root of the number of features
max_features = int(sqrt(X.shape[1]))

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Define models
rf_model = RandomForestRegressor(n_estimators=1000, random_state=42,max_depth=20, min_samples_split=20, min_samples_leaf=10, max_features=max_features)
xgb_model = xgb.XGBRegressor(n_estimators=800, random_state=42)


# Ensemble models
# Combine the models using voting ensemble
ensemble_model1 = VotingRegressor(estimators=[('rf', rf_model), ('gb', xgb_model)])
ensemble_model1.fit(X, y)

y_pred = ensemble_model1.predict(X_test)
y_pred
r2 = r2_score(y_test, y_pred)
print("r2:",r2)

mae = mean_absolute_error(y_test, y_pred)
print("Mean absolute error:", mae)

import joblib
joblib.dump(ensemble_model1,'bangalore-pred.joblib')

r2: 0.9572263110367715
Mean absolute error: 8.242313711098811

['bangalore-pred.joblib']

In [281]:
import pandas as pd
import numpy as np
from sklearn.model_selection import KFold, cross_val_score
from sklearn.ensemble import RandomForestRegressor
import xgboost as xgb

X = df6.drop(['price','Location'], axis=1).values
y = df6[['price']].values
y=y.ravel()

# Set max_features to the square root of the number of features
max_features = int(sqrt(X.shape[1]))

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Define models
rf_model = RandomForestRegressor(n_estimators=1000, random_state=42,max_depth=20, min_samples_split=20, min_samples_leaf=10, max_features=max_features)
xgb_model = xgb.XGBRegressor(n_estimators=800, random_state=42)


# Ensemble models
# Combine the models using voting ensemble
ensemble_model1 = VotingRegressor(estimators=[('rf', rf_model), ('gb', xgb_model)])
ensemble_model1.fit(X, y)

y_pred = ensemble_model1.predict(X_test)
y_pred
r2 = r2_score(y_test, y_pred)
print("r2:",r2)

mae = mean_absolute_error(y_test, y_pred)
print("Mean absolute error:", mae)

import joblib
joblib.dump(ensemble_model1,'mumbai-pred.joblib')

r2: 0.9121658883956488
Mean absolute error: 20.091504721364046

['mumbai-pred.joblib']

In [26]:
import joblib
import numpy as np
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

print('1.hyd\n2.chennai\n3.kolkata\n4.bangalore\n5.mumbai\n6.delhi')
while True:
    predat=int(input("choose the city in which to predict--enter option:"))
    if(predat==1):
        model=joblib.load('hyderabad-pred.joblib')
        break
    elif(predat==2):
        model=joblib.load('chennai-pred.joblib')
        break
    elif(predat==3):
        model=joblib.load('kolkata-pred.joblib')
        break
    elif(predat==4):
        model=joblib.load('bangalore-pred.joblib')
        break
    elif(predat==5):
        model=joblib.load('mumbai-pred.joblib')
        break
    elif(predat==6):
        model=joblib.load('delhi-pred.joblib')
        break
    else:
        print('choose options 1-6 are only allowed')


area=int(input('enter AREA (in sqft):'))
bed=int(input('enter NO. OF BEDROOMS:'))
resale=int(input('enter resale(1 if old,0 if new):'))
vastu=int(input('enter vastu(1 if concern,0 if no):'))
#nearby = '0111010111000'
#in order as, ['Gymnasium', 'SwimmingPool', 'LandscapedGardens', 'JoggingTrack', 'IndoorGames','ShoppingMall','SportsFacility','ATM','ClubHouse','School','Cafeteria','Hospital','Childrensplayarea']
#write only 1's and 0's only
nearby=input('enter nearby resoures needed:')
nearby = int(nearby, 2)
#essentials = '01110' 
#in order as, ['PowerBackup', 'CarParking', 'LiftAvailable', '24X7Security', 'Gasconnection']
#write only 1's and 0's only
ess=input('enter essentials needed:')
ess = int(ess, 2)

#(STRING)LOCATION TO LATITUDE AND LONGITUDE

from geopy.geocoders import Nominatim
# Create a Nominatim geocoder object
geolocator = Nominatim(user_agent="my_app")
# Check if location was found
while(True):
    # Get the input sentence from user and convert it to lowercase
    location_str = input('Enter a location: ')
    # Use geocoder to convert location string to latitude and longitude
    location = geolocator.geocode(location_str)
    if location is not None:
        latitude = location.latitude
        longitude = location.longitude
        latitude=float(latitude)
        longitude=float(longitude)
        break
    else:
        print("Location not found")
        
ip=[area,latitude,longitude,bed,resale,vastu,nearby,ess]

pred=model.predict([ip])

print("the PREDICTED price maybe:",pred[0],"lakh")

1.hyd
2.chennai
3.kolkata
4.bangalore
5.mumbai
6.delhi
choose the city in which to predict--enter option:1
enter AREA (in sqft):1000
enter NO. OF BEDROOMS:2
enter resale(1 if old,0 if new):0
enter vastu(1 if concern,0 if no):0
enter nearby resoures needed:1000010000100
enter essentials needed:10010
Enter a location: ameerpet
the PREDICTED price maybe: 41.90270662110872 lakh

In [2]:
df3.dtypes

NameError: name 'df3' is not defined

In [449]:
#enter price range you will get where u get for that price range

import pandas as pd
import folium
from branca.element import Figure  #resize our map by using the branca library in Python


print('1.hyd\n2.chennai\n3.kolkata\n4.bangalore\n5.mumbai\n6.delhi')
while True:
    predat=int(input("choose the city in which to predict--enter option:"))
    if(predat==1):
        df=df1.copy()
        break
    elif(predat==2):
        df=df2.copy()
        break
    elif(predat==3):
        df=df3.copy()
        break
    elif(predat==4):
        df=df5.copy()
        break
    elif(predat==5):
        df=df6.copy()
        break
    elif(predat==6):
        df=df4.copy()
        break
    else:
        print('choose options 1-6 are only allowed')


# Convert the Price column to int
df['price'] = df['price'].astype(int)

# Take input from the user for the price range
price_range = input("Enter the price range (from-to [in lakhs]): ")

# Split the input into min and max values
min_price, max_price = price_range.split('-')

# Convert the min and max values to int
min_price = int(min_price)
max_price = int(max_price)

# Filter the dataframe to show only houses within the price range
houses_in_range = df[(df['price'] >= min_price) & (df['price'] <= max_price)]

# Check if there are any houses in the price range
if houses_in_range.empty:
    print('No houses in that range')
else:
    # Create a map centered on the first house in the range
    map_center = [houses_in_range.iloc[0]['latitude'], houses_in_range.iloc[0]['longitude']]
    m = folium.Map(location=map_center, zoom_start=12)

    # loop through the filtered dataset and add markers to the map for each property
    for index, row in houses_in_range.iterrows():
        # create a popup with the property information
        popup = folium.Popup(
            f"<b>Place:</b> {row['Location']}<br>"
            f"<b>Area:</b> {row['Area']} sqft<br>"
            f"<b>Price:</b> {row['price']} lakhs<br>"
            f"<b>Location:</b> {row['latitude']}, {row['longitude']}<br>"
            f"<b>No. of Bedrooms:</b> {row['No. of Bedrooms']}<br>"
            f"<b>Resale:</b> {row['Resale']}<br>"
            f"<b>Vasthu Compliant:</b> {row['VaastuCompliant']}<br>"
            f"<b>Essentials:</b> {row['essentials']}<br>"
            f"<b>Nearby Resources:</b> {row['nearbyresources']}<br>",
            max_width=300)
        
        tooltip=folium.Tooltip(
            f"<b>Place:</b> {row['Location']}<br>"
            f"<b>Area:</b> {row['Area']} sqft<br>",
        )
        
        # add a marker for the property
        folium.Marker(
            location=[row['latitude'], row['longitude']],
            popup=popup,tooltip=tooltip,
            icon=folium.Icon(color='blue', icon='home')).add_to(m)

    # Show the map
    fig2=Figure(width=700,height=400) #for he size of the map
    fig2.add_child(m)
    folium.TileLayer('Stamen Terrain').add_to(m)
    folium.TileLayer('Stamen Toner').add_to(m)
    folium.TileLayer('Stamen Water Color').add_to(m)
    folium.TileLayer('cartodbpositron').add_to(m)
    folium.TileLayer('cartodbdark_matter').add_to(m)
    folium.LayerControl().add_to(m)
    display(m)

1.hyd
2.chennai
3.kolkata
4.bangalore
5.mumbai
6.delhi
choose the city in which to predict--enter option:3
Enter the price range (from-to [in lakhs]): 30-32

In [310]:

from geopy.geocoders import Nominatim
# Create a Nominatim geocoder object
geolocator = Nominatim(user_agent="my_app")
# Check if location was found
while(True):
    # Get the input sentence from user and convert it to lowercase
    location_str = input('Enter a location: ')
    # Use geocoder to convert location string to latitude and longitude
    location = geolocator.geocode(location_str)
    if location is not None:
        latitude = location.latitude
        longitude = location.longitude
        latitude=float(latitude)
        longitude=float(longitude)
        break
    else:
        print("Location not found")
print(latitude,longitude)

Enter a location: Barasat
22.7191072 88.4826229

In [1]:
num = 1792  # integer to binary of 13 digits
binary_str = format(num, '013b')
print(binary_str)

0011100000000

In [ ]:
binary_str = '01110'  # binary(13 digit) to decimal
decimal_num = int(binary_str, 2)  
print(decimal_num)

In [1]:
import pandas as pd
df=pd.read_csv('Hyderabad_rent.csv')
df

,seller_type,bedroom,layout_type,property_type,locality,price,area,furnish_type,bathroom
0,OWNER,1,RK,Studio Apartment,Serilingampally,"6,720",320,Furnished,1 bathrooms
1,OWNER,5,BHK,Villa,Sri Nagar Colony,"36,000",3000,Semi-Furnished,4 bathrooms
2,OWNER,2,BHK,Independent House,Shaikpet,"11,000",900,Semi-Furnished,2 bathrooms
3,OWNER,3,BHK,Apartment,Nanakramguda,"45,000",2165,Unfurnished,3 bathrooms
4,OWNER,3,BHK,Apartment,Kondapur,"20,000",1600,Semi-Furnished,3 bathrooms
...,...,...,...,...,...,...,...,...,...
10752,AGENT,1,BHK,Apartment,Begumpet,"6,000",850,Semi-Furnished,1 bathrooms
10753,AGENT,2,BHK,Apartment,Ameerpet,"12,000",1300,Semi-Furnished,2 bathrooms
10754,AGENT,2,BHK,Apartment,Ameerpet,"15,000",1200,Semi-Furnished,2 bathrooms
10755,AGENT,2,BHK,Apartment,Begumpet,"17,000",1300,Furnished,2 bathrooms
10756,AGENT,2,BHK,Apartment,Somajiguda,"15,000",1500,Semi-Furnished,2 bathrooms

In [6]:
df.drop_duplicates(inplace = True)
df

,seller_type,bedroom,layout_type,property_type,locality,price,area,furnish_type,bathroom
0,OWNER,1,RK,Studio Apartment,Serilingampally,"6,720",320,Furnished,1 bathrooms
1,OWNER,5,BHK,Villa,Sri Nagar Colony,"36,000",3000,Semi-Furnished,4 bathrooms
2,OWNER,2,BHK,Independent House,Shaikpet,"11,000",900,Semi-Furnished,2 bathrooms
3,OWNER,3,BHK,Apartment,Nanakramguda,"45,000",2165,Unfurnished,3 bathrooms
4,OWNER,3,BHK,Apartment,Kondapur,"20,000",1600,Semi-Furnished,3 bathrooms
...,...,...,...,...,...,...,...,...,...
10735,AGENT,1,BHK,Apartment,Begumpet,"6,000",850,Semi-Furnished,1 bathrooms
10736,AGENT,2,BHK,Apartment,Ameerpet,"12,000",1300,Semi-Furnished,2 bathrooms
10737,AGENT,2,BHK,Apartment,Ameerpet,"15,000",1200,Semi-Furnished,2 bathrooms
10738,AGENT,2,BHK,Apartment,Begumpet,"17,000",1300,Furnished,2 bathrooms
10739,AGENT,2,BHK,Apartment,Somajiguda,"15,000",1500,Semi-Furnished,2 bathrooms

In [18]:
df["bathroom"].unique()

array(['1 bathrooms', '4 bathrooms', '2 bathrooms', '3 bathrooms', nan,
       '5 bathrooms', 'East facing', 'West facing', 'North facing',
       'South facing', '6 bathrooms', '7 bathrooms', 'Grfloor',
       '10 bathrooms', '12 bathrooms', '8 bathrooms', 'NorthWest facing',
       '4 of 5floor', '9 bathrooms'], dtype=object)

In [11]:
df["seller_type"]=df["seller_type"].map({'OWNER':0,'AGENT':1,'BUILDER':2})
df["layout_type"]=df["layout_type"].map({'BHK':0,'RK':1})
df["property_type"]=df["property_type"].map({'Apartment':0,'Studio Apartment':1,'Independent House':2,'Independent Floor':3,'Villa':4,'Penthouse':5})
df["furnish_type"]=df["furnish_type"].map({'Furnished':0,'Semi-Furnished':1,'Unfurnished':2})

In [12]:
df

,seller_type,bedroom,layout_type,property_type,locality,price,area,furnish_type,bathroom
0,0,1,1,1,Serilingampally,"6,720",320,0,1 bathrooms
1,0,5,0,4,Sri Nagar Colony,"36,000",3000,1,4 bathrooms
2,0,2,0,2,Shaikpet,"11,000",900,1,2 bathrooms
3,0,3,0,0,Nanakramguda,"45,000",2165,2,3 bathrooms
4,0,3,0,0,Kondapur,"20,000",1600,1,3 bathrooms
...,...,...,...,...,...,...,...,...,...
10735,1,1,0,0,Begumpet,"6,000",850,1,1 bathrooms
10736,1,2,0,0,Ameerpet,"12,000",1300,1,2 bathrooms
10737,1,2,0,0,Ameerpet,"15,000",1200,1,2 bathrooms
10738,1,2,0,0,Begumpet,"17,000",1300,0,2 bathrooms
10739,1,2,0,0,Somajiguda,"15,000",1500,1,2 bathrooms

In [13]:
from geopy.geocoders import Nominatim  # Adding the latitute and longitute for the places
location=Nominatim(user_agent="http")

def get_location_code(x):
    try:
        cordinates=location.geocode(x, country_codes='INR')
        return cordinates.latitude, cordinates.longitude  
    except:
        return "Not found", "Not found"
    
# Finding latitude and longitude for unique loactions only to speed up the execution
unique_location=df['locality'].unique()
location_to_code={}
for place in unique_location:
    location_to_code[place]=get_location_code(place) # This can a while, for me it took 15 mins. Please save this file.
    
# Creating two new columns having latitude and longitude
df['Latitude'],df['Longitude']=zip(*df['locality'].map(location_to_code))
df

# Removing the 'Not found' records
df=df[df['Latitude']!='Not found'].reset_index(drop=True)

,seller_type,bedroom,layout_type,property_type,locality,price,area,furnish_type,bathroom,Latitude,Longitude
0,0,1,1,1,Serilingampally,"6,720",320,0,1 bathrooms,17.484205,78.299509
1,0,5,0,4,Sri Nagar Colony,"36,000",3000,1,4 bathrooms,17.37688,78.511785
2,0,2,0,2,Shaikpet,"11,000",900,1,2 bathrooms,17.405795,78.400654
3,0,3,0,0,Nanakramguda,"45,000",2165,2,3 bathrooms,17.412983,78.338635
4,0,3,0,0,Kondapur,"20,000",1600,1,3 bathrooms,18.33096,79.922469
...,...,...,...,...,...,...,...,...,...,...,...
10735,1,1,0,0,Begumpet,"6,000",850,1,1 bathrooms,17.44402,78.462482
10736,1,2,0,0,Ameerpet,"12,000",1300,1,2 bathrooms,17.437501,78.448251
10737,1,2,0,0,Ameerpet,"15,000",1200,1,2 bathrooms,17.437501,78.448251
10738,1,2,0,0,Begumpet,"17,000",1300,0,2 bathrooms,17.44402,78.462482
10739,1,2,0,0,Somajiguda,"15,000",1500,1,2 bathrooms,17.425505,78.45852

In [32]:
# Removing the 'Not found' records
data=data[data['Latitude']!='Not found'].reset_index(drop=True)

In [22]:
data=df
data = data.dropna()
data

,seller_type,bedroom,layout_type,property_type,locality,price,area,furnish_type,bathroom,Latitude,Longitude
0,0,1,1,1,Serilingampally,"6,720",320,0,1 bathrooms,17.484205,78.299509
1,0,5,0,4,Sri Nagar Colony,"36,000",3000,1,4 bathrooms,17.37688,78.511785
2,0,2,0,2,Shaikpet,"11,000",900,1,2 bathrooms,17.405795,78.400654
3,0,3,0,0,Nanakramguda,"45,000",2165,2,3 bathrooms,17.412983,78.338635
4,0,3,0,0,Kondapur,"20,000",1600,1,3 bathrooms,18.33096,79.922469
...,...,...,...,...,...,...,...,...,...,...,...
10735,1,1,0,0,Begumpet,"6,000",850,1,1 bathrooms,17.44402,78.462482
10736,1,2,0,0,Ameerpet,"12,000",1300,1,2 bathrooms,17.437501,78.448251
10737,1,2,0,0,Ameerpet,"15,000",1200,1,2 bathrooms,17.437501,78.448251
10738,1,2,0,0,Begumpet,"17,000",1300,0,2 bathrooms,17.44402,78.462482
10739,1,2,0,0,Somajiguda,"15,000",1500,1,2 bathrooms,17.425505,78.45852

In [23]:
import numpy as np

values_to_drop = [np.nan, 'East facing', 'West facing', 'North facing', 'South facing', 'Grfloor',
                  'NorthWest facing', '4 of 5floor']

# Drop the unwanted values from the 'bathroom' column
data = data[~data['bathroom'].isin(values_to_drop)]

# Print the modified DataFrame
data

,seller_type,bedroom,layout_type,property_type,locality,price,area,furnish_type,bathroom,Latitude,Longitude
0,0,1,1,1,Serilingampally,"6,720",320,0,1 bathrooms,17.484205,78.299509
1,0,5,0,4,Sri Nagar Colony,"36,000",3000,1,4 bathrooms,17.37688,78.511785
2,0,2,0,2,Shaikpet,"11,000",900,1,2 bathrooms,17.405795,78.400654
3,0,3,0,0,Nanakramguda,"45,000",2165,2,3 bathrooms,17.412983,78.338635
4,0,3,0,0,Kondapur,"20,000",1600,1,3 bathrooms,18.33096,79.922469
...,...,...,...,...,...,...,...,...,...,...,...
10735,1,1,0,0,Begumpet,"6,000",850,1,1 bathrooms,17.44402,78.462482
10736,1,2,0,0,Ameerpet,"12,000",1300,1,2 bathrooms,17.437501,78.448251
10737,1,2,0,0,Ameerpet,"15,000",1200,1,2 bathrooms,17.437501,78.448251
10738,1,2,0,0,Begumpet,"17,000",1300,0,2 bathrooms,17.44402,78.462482
10739,1,2,0,0,Somajiguda,"15,000",1500,1,2 bathrooms,17.425505,78.45852

In [24]:
data["bathroom"].unique()

array(['1 bathrooms', '4 bathrooms', '2 bathrooms', '3 bathrooms',
       '5 bathrooms', '6 bathrooms', '7 bathrooms', '10 bathrooms',
       '12 bathrooms', '8 bathrooms', '9 bathrooms'], dtype=object)

In [25]:
data['bathroom'] = data['bathroom'].str.replace('bathrooms', '').astype(int)
data

D:\python\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,seller_type,bedroom,layout_type,property_type,locality,price,area,furnish_type,bathroom,Latitude,Longitude
0,0,1,1,1,Serilingampally,"6,720",320,0,1,17.484205,78.299509
1,0,5,0,4,Sri Nagar Colony,"36,000",3000,1,4,17.37688,78.511785
2,0,2,0,2,Shaikpet,"11,000",900,1,2,17.405795,78.400654
3,0,3,0,0,Nanakramguda,"45,000",2165,2,3,17.412983,78.338635
4,0,3,0,0,Kondapur,"20,000",1600,1,3,18.33096,79.922469
...,...,...,...,...,...,...,...,...,...,...,...
10735,1,1,0,0,Begumpet,"6,000",850,1,1,17.44402,78.462482
10736,1,2,0,0,Ameerpet,"12,000",1300,1,2,17.437501,78.448251
10737,1,2,0,0,Ameerpet,"15,000",1200,1,2,17.437501,78.448251
10738,1,2,0,0,Begumpet,"17,000",1300,0,2,17.44402,78.462482
10739,1,2,0,0,Somajiguda,"15,000",1500,1,2,17.425505,78.45852

In [34]:
data.dtypes

seller_type        int64
bedroom            int64
layout_type        int64
property_type      int64
locality          object
price            float64
area               int64
furnish_type       int64
bathroom           int32
Latitude         float64
Longitude        float64
dtype: object

In [30]:
data['price']= [i.replace(',','') for i in data['price']]
data['price']=data['price'].astype(float)
data

AttributeError: 'float' object has no attribute 'replace'

In [33]:
# convert latitude and longitude columns to float
data['Latitude'] = data['Latitude'].astype(float)
data['Longitude'] = data['Longitude'].astype(float)
data

,seller_type,bedroom,layout_type,property_type,locality,price,area,furnish_type,bathroom,Latitude,Longitude
0,0,1,1,1,Serilingampally,6720.0,320,0,1,17.484205,78.299509
1,0,5,0,4,Sri Nagar Colony,36000.0,3000,1,4,17.376880,78.511785
2,0,2,0,2,Shaikpet,11000.0,900,1,2,17.405795,78.400654
3,0,3,0,0,Nanakramguda,45000.0,2165,2,3,17.412983,78.338635
4,0,3,0,0,Kondapur,20000.0,1600,1,3,18.330960,79.922469
...,...,...,...,...,...,...,...,...,...,...,...
5550,1,1,0,0,Begumpet,6000.0,850,1,1,17.444020,78.462482
5551,1,2,0,0,Ameerpet,12000.0,1300,1,2,17.437501,78.448251
5552,1,2,0,0,Ameerpet,15000.0,1200,1,2,17.437501,78.448251
5553,1,2,0,0,Begumpet,17000.0,1300,0,2,17.444020,78.462482
5554,1,2,0,0,Somajiguda,15000.0,1500,1,2,17.425505,78.458520

In [35]:
data.columns

Index(['seller_type', 'bedroom', 'layout_type', 'property_type', 'locality',
       'price', 'area', 'furnish_type', 'bathroom', 'Latitude', 'Longitude'],
      dtype='object')

In [76]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor,VotingRegressor
import xgboost as xgb
import math
from sklearn.metrics import mean_absolute_error,r2_score


X = data.drop(['price','locality'],axis=1).values
y = data[['price']].values
y=y.ravel()

# Set max_features to the square root of the number of features
max_features = int(math.sqrt(X.shape[1]))

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=84)

# Define models
rf_model = RandomForestRegressor()
xgb_model = xgb.XGBRegressor()


# Ensemble models
# Combine the models using voting ensemble
ensemble_model1 = VotingRegressor(estimators=[('rf', rf_model), ('gb', xgb_model)])
ensemble_model1.fit(X, y)

y_pred = ensemble_model1.predict(X_test)
y_pred
r2 = r2_score(y_test, y_pred)
print("r2:",r2)

mae = mean_absolute_error(y_test, y_pred)
print("Mean absolute error:", mae)

r2: 0.9997499516819492
Mean absolute error: 76.17372902948678

In [62]:
data.iloc[4934].values

array([0, 1, 1, 1, 'Chandanagar', 7000.0, 400, 2, 1, 17.4872976,
       78.3322142, 0.05714285714285714], dtype=object)

In [74]:
y_pred = ensemble_model1.predict([[0, 1, 1, 1,400, 2, 1, 17.4872976,
       78.3322142, 0.05714285714285714]])
print(y_pred[0])

6975.260986328125

In [52]:
desc = data['price'].describe()
q1 = desc.loc['25%']
q3 = desc.loc['75%']
iqr = q3-q1 
lower_lim = q1-(1.5*iqr)
upper_lim = q3+(1.5*iqr)
data = data[(data['price']>=lower_lim)&(data['price']<=upper_lim)]
data

,seller_type,bedroom,layout_type,property_type,locality,price,area,furnish_type,bathroom,Latitude,Longitude
0,0,1,1,1,Serilingampally,6720.0,320,0,1,17.484205,78.299509
1,0,5,0,4,Sri Nagar Colony,36000.0,3000,1,4,17.376880,78.511785
2,0,2,0,2,Shaikpet,11000.0,900,1,2,17.405795,78.400654
4,0,3,0,0,Kondapur,20000.0,1600,1,3,18.330960,79.922469
5,0,1,0,2,manneguda,5000.0,600,2,1,19.321602,79.442514
...,...,...,...,...,...,...,...,...,...,...,...
5550,1,1,0,0,Begumpet,6000.0,850,1,1,17.444020,78.462482
5551,1,2,0,0,Ameerpet,12000.0,1300,1,2,17.437501,78.448251
5552,1,2,0,0,Ameerpet,15000.0,1200,1,2,17.437501,78.448251
5553,1,2,0,0,Begumpet,17000.0,1300,0,2,17.444020,78.462482
5554,1,2,0,0,Somajiguda,15000.0,1500,1,2,17.425505,78.458520

In [57]:
data['affordability'] = data['area']/data['price']
data

D:\python\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,seller_type,bedroom,layout_type,property_type,locality,price,area,furnish_type,bathroom,Latitude,Longitude,affordability
0,0,1,1,1,Serilingampally,6720.0,320,0,1,17.484205,78.299509,0.047619
1,0,5,0,4,Sri Nagar Colony,36000.0,3000,1,4,17.376880,78.511785,0.083333
2,0,2,0,2,Shaikpet,11000.0,900,1,2,17.405795,78.400654,0.081818
4,0,3,0,0,Kondapur,20000.0,1600,1,3,18.330960,79.922469,0.080000
5,0,1,0,2,manneguda,5000.0,600,2,1,19.321602,79.442514,0.120000
...,...,...,...,...,...,...,...,...,...,...,...,...
5550,1,1,0,0,Begumpet,6000.0,850,1,1,17.444020,78.462482,0.141667
5551,1,2,0,0,Ameerpet,12000.0,1300,1,2,17.437501,78.448251,0.108333
5552,1,2,0,0,Ameerpet,15000.0,1200,1,2,17.437501,78.448251,0.080000
5553,1,2,0,0,Begumpet,17000.0,1300,0,2,17.444020,78.462482,0.076471
5554,1,2,0,0,Somajiguda,15000.0,1500,1,2,17.425505,78.458520,0.100000

In [ ]:
#rent price prediction in all 6 cities

In [ ]:

file_paths = ['Hyderabad_rent.csv', 'Chennai_rent.csv', 'Kolkata_rent.csv','Mumbai_rent.csv','Delhi_rent.csv','Bangalore_rent.csv']
for file_path in file_paths:
    df = pd.read_csv(file_path)
    
    from geopy.geocoders import Nominatim  # Adding the latitute and longitute for the places
    location=Nominatim(user_agent="http")

    def get_location_code(x):
        try:
            cordinates=location.geocode(x, country_codes='INR')
            return cordinates.latitude, cordinates.longitude  
        except:
            return "Not found", "Not found"

    # Finding latitude and longitude for unique loactions only to speed up the execution
    unique_location=df['locality'].unique()
    location_to_code={}
    for place in unique_location:
        location_to_code[place]=get_location_code(place) # This can a while, for me it took 15 mins. Please save this file.

    # Creating two new columns having latitude and longitude
    df['Latitude'],df['Longitude']=zip(*df['locality'].map(location_to_code))
    
    df.to_csv(f"final_{file_path}", index=False)

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import KFold, cross_val_score
from sklearn.ensemble import RandomForestRegressor,VotingRegressor
import xgboost as xgb
import math
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score,mean_absolute_error

file_paths = ['final_Hyderabad_rent.csv', 'final_Chennai_rent.csv', 'final_Kolkata_rent.csv','final_Mumbai_rent.csv','final_Delhi_rent.csv','final_Bangalore_rent.csv']
for file_path in file_paths:
    df = pd.read_csv(file_path)
    
    #mapping
    df["seller_type"]=df["seller_type"].map({'OWNER':0,'AGENT':1,'BUILDER':2})
    df["layout_type"]=df["layout_type"].map({'BHK':0,'RK':1})
    df["property_type"]=df["property_type"].map({'Apartment':0,'Studio Apartment':1,'Independent House':2,'Independent Floor':3,'Villa':4,'Penthouse':5})
    df["furnish_type"]=df["furnish_type"].map({'Furnished':0,'Semi-Furnished':1,'Unfurnished':2})
    

    # Removing the 'Not found' records
    df=df[df['Latitude']!='Not found'].reset_index(drop=True)
    
    import numpy as np

    #values_to_drop = [np.nan, 'East facing', 'West facing', 'North facing', 'South facing', 'Grfloor','NorthWest facing','NorthEast facing','SouthWest facing','SouthEast facing','4 of 5floor']
    values_to_need=['2 bathrooms', '1 bathrooms', '3 bathrooms', '6 bathrooms',
       '5 bathrooms', '4 bathrooms', '8 bathrooms', '7 bathrooms',
       '9 bathrooms','12 bathrooms']

    # Drop the unwanted values from the 'bathroom' column
    df = df[df['bathroom'].isin(values_to_need)]

    df['bathroom'] = df['bathroom'].str.replace('bathrooms', '').astype(int)
    
    df['price']= [i.replace(',','') for i in df['price']]
    df['price']=df['price'].astype(float)
    
    # convert latitude and longitude columns to float
    df['Latitude'] = df['Latitude'].astype(float)
    df['Longitude'] = df['Longitude'].astype(float)
    
    #removing outliers
    desc = df['price'].describe()
    q1 = desc.loc['25%']
    q3 = desc.loc['75%']
    iqr = q3-q1 
    lower_lim = q1-(1.5*iqr)
    upper_lim = q3+(1.5*iqr)
    df = df[(df['price']>=lower_lim)&(df['price']<=upper_lim)]
    
    
    import pandas as pd
    import numpy as np
    from sklearn.model_selection import KFold, cross_val_score
    from sklearn.ensemble import RandomForestRegressor,VotingRegressor
    import xgboost as xgb
    import math

    X = df.drop(['price','locality'],axis=1).values
    y = df[['price']].values
    y=y.ravel()

    # Set max_features to the square root of the number of features
    max_features = int(math.sqrt(X.shape[1]))

    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=84)

    # Define models
    rf_model = RandomForestRegressor(n_estimators=1000, random_state=84,max_depth=20, min_samples_split=20, min_samples_leaf=10, max_features=max_features)
    xgb_model = xgb.XGBRegressor(n_estimators=800, random_state=84)


    # Ensemble models
    # Combine the models using voting ensemble
    ensemble_model1 = VotingRegressor(estimators=[('rf', rf_model), ('gb', xgb_model)])
    ensemble_model1.fit(X_train, y_train)

    y_pred = ensemble_model1.predict(X_test)
    y_pred
    r2 = r2_score(y_test, y_pred)
    print(f"r2 of {file_path}:",r2)
 
    mae = mean_absolute_error(y_test, y_pred)
    print(f"Mean absolute error of {file_path}:", mae)
    
    #import joblib
    #joblib.dump(ensemble_model1,f'{file_path}.joblib')

In [83]:
df["bathroom"].unique()

array(['2 bathrooms', '1 bathrooms', '3 bathrooms', '6 bathrooms',
       '5 bathrooms', '4 bathrooms', '8 bathrooms', '7 bathrooms',
       '9 bathrooms', 'availability immediately', '2 of 7floor',
       '7 of 12floor', 'Family only', '2 of 4floor', '17 of 29floor',
       '4 of 7floor', '17 of 25floor', '6 of 7floor', '11 of 17floor',
       '15 of 28floor', '5 of 14floor', '6 of 8floor', '9 of 12floor',
       '3 of 7floor', '1 of 4floor', '12 of 16floor', '10 of 16floor',
       '3 of 3floor'], dtype=object)

In [97]:
df.columns

Index(['seller_type', 'bedroom', 'layout_type', 'property_type', 'locality',
       'price', 'area', 'furnish_type', 'bathroom', 'Latitude', 'Longitude',
       'affordability'],
      dtype='object')

In [21]:
import pandas as pd
df1=pd.read_csv('final_Hyderabad_rent.csv')
df1['price']= [i.replace(',','') for i in df1['price']]
df1['price']=df1['price'].astype(float)
    
df1['affordability'] = df1['area']/df1['price']
df1

,seller_type,bedroom,layout_type,property_type,locality,price,area,furnish_type,bathroom,Latitude,Longitude,affordability
0,OWNER,1,RK,Studio Apartment,Serilingampally,6720.0,320,Furnished,1 bathrooms,17.4842051,78.2995091,0.047619
1,OWNER,5,BHK,Villa,Sri Nagar Colony,36000.0,3000,Semi-Furnished,4 bathrooms,17.3768805,78.5117854,0.083333
2,OWNER,2,BHK,Independent House,Shaikpet,11000.0,900,Semi-Furnished,2 bathrooms,17.4057955,78.4006536,0.081818
3,OWNER,3,BHK,Apartment,Nanakramguda,45000.0,2165,Unfurnished,3 bathrooms,17.4129831,78.338635,0.048111
4,OWNER,3,BHK,Apartment,Kondapur,20000.0,1600,Semi-Furnished,3 bathrooms,18.3309604,79.9224686,0.080000
...,...,...,...,...,...,...,...,...,...,...,...,...
10752,AGENT,1,BHK,Apartment,Begumpet,6000.0,850,Semi-Furnished,1 bathrooms,17.4440199,78.4624821,0.141667
10753,AGENT,2,BHK,Apartment,Ameerpet,12000.0,1300,Semi-Furnished,2 bathrooms,17.4375012,78.4482505,0.108333
10754,AGENT,2,BHK,Apartment,Ameerpet,15000.0,1200,Semi-Furnished,2 bathrooms,17.4375012,78.4482505,0.080000
10755,AGENT,2,BHK,Apartment,Begumpet,17000.0,1300,Furnished,2 bathrooms,17.4440199,78.4624821,0.076471
10756,AGENT,2,BHK,Apartment,Somajiguda,15000.0,1500,Semi-Furnished,2 bathrooms,17.4255053,78.4585197,0.100000

In [43]:
import pandas as pd
df=pd.read_csv('final_Hyderabad_rent.csv')
df

,seller_type,bedroom,layout_type,property_type,locality,price,area,furnish_type,bathroom,Latitude,Longitude
0,OWNER,1,RK,Studio Apartment,Serilingampally,"6,720",320,Furnished,1 bathrooms,17.4842051,78.2995091
1,OWNER,5,BHK,Villa,Sri Nagar Colony,"36,000",3000,Semi-Furnished,4 bathrooms,17.3768805,78.5117854
2,OWNER,2,BHK,Independent House,Shaikpet,"11,000",900,Semi-Furnished,2 bathrooms,17.4057955,78.4006536
3,OWNER,3,BHK,Apartment,Nanakramguda,"45,000",2165,Unfurnished,3 bathrooms,17.4129831,78.338635
4,OWNER,3,BHK,Apartment,Kondapur,"20,000",1600,Semi-Furnished,3 bathrooms,18.3309604,79.9224686
...,...,...,...,...,...,...,...,...,...,...,...
10752,AGENT,1,BHK,Apartment,Begumpet,"6,000",850,Semi-Furnished,1 bathrooms,17.4440199,78.4624821
10753,AGENT,2,BHK,Apartment,Ameerpet,"12,000",1300,Semi-Furnished,2 bathrooms,17.4375012,78.4482505
10754,AGENT,2,BHK,Apartment,Ameerpet,"15,000",1200,Semi-Furnished,2 bathrooms,17.4375012,78.4482505
10755,AGENT,2,BHK,Apartment,Begumpet,"17,000",1300,Furnished,2 bathrooms,17.4440199,78.4624821
10756,AGENT,2,BHK,Apartment,Somajiguda,"15,000",1500,Semi-Furnished,2 bathrooms,17.4255053,78.4585197

In [44]:
df=df[df['Latitude']!='Not found'].reset_index(drop=True)
df

# convert latitude and longitude columns to float
df['Latitude'] = df['Latitude'].astype(float)
df['Longitude'] = df['Longitude'].astype(float)
df

,seller_type,bedroom,layout_type,property_type,locality,price,area,furnish_type,bathroom,Latitude,Longitude
0,OWNER,1,RK,Studio Apartment,Serilingampally,"6,720",320,Furnished,1 bathrooms,17.484205,78.299509
1,OWNER,5,BHK,Villa,Sri Nagar Colony,"36,000",3000,Semi-Furnished,4 bathrooms,17.376880,78.511785
2,OWNER,2,BHK,Independent House,Shaikpet,"11,000",900,Semi-Furnished,2 bathrooms,17.405795,78.400654
3,OWNER,3,BHK,Apartment,Nanakramguda,"45,000",2165,Unfurnished,3 bathrooms,17.412983,78.338635
4,OWNER,3,BHK,Apartment,Kondapur,"20,000",1600,Semi-Furnished,3 bathrooms,18.330960,79.922469
...,...,...,...,...,...,...,...,...,...,...,...
10241,AGENT,1,BHK,Apartment,Begumpet,"6,000",850,Semi-Furnished,1 bathrooms,17.444020,78.462482
10242,AGENT,2,BHK,Apartment,Ameerpet,"12,000",1300,Semi-Furnished,2 bathrooms,17.437501,78.448251
10243,AGENT,2,BHK,Apartment,Ameerpet,"15,000",1200,Semi-Furnished,2 bathrooms,17.437501,78.448251
10244,AGENT,2,BHK,Apartment,Begumpet,"17,000",1300,Furnished,2 bathrooms,17.444020,78.462482
10245,AGENT,2,BHK,Apartment,Somajiguda,"15,000",1500,Semi-Furnished,2 bathrooms,17.425505,78.458520

In [47]:
import numpy as np
def zscore(col):
    return np.abs((col - col.mean()) / col.std())

# calculate Z-score for 'Salary' column
zscore_salary = zscore(df['Latitude'])

# set a threshold for Z-score
threshold = 3

# identify and show outliers
outliers = df[zscore_salary > threshold]
print(outliers)

      seller_type  bedroom layout_type      property_type    locality   price  \
20          OWNER        2         BHK          Apartment     Meerpet   4,000
34          OWNER        1         BHK  Independent House     Aminpur   7,000
47          OWNER        2         BHK  Independent House     Aminpur  10,000
91          OWNER        1         BHK  Independent Floor     Aminpur   7,500
94          OWNER        2         BHK  Independent Floor        BHEL  10,000
...           ...      ...         ...                ...         ...     ...
10150       OWNER        2         BHK          Apartment     Aminpur   9,000
10152       OWNER        3         BHK  Independent House  Bapu Nagar  17,000
10153       OWNER        2         BHK  Independent House  Bapu Nagar   9,500
10158       OWNER        2         BHK          Apartment  Bapu Nagar  18,000
10193       OWNER        1         BHK          Apartment  Moti Nagar   6,800

       area    furnish_type     bathroom   Latitude  Longitude
20      645  Semi-Furnished  2 bathrooms  28.972311  77.687051
34      500     Unfurnished  1 bathrooms  32.127466  74.402451
47     1500     Unfurnished  2 bathrooms  32.127466  74.402451
91      700  Semi-Furnished  1 bathrooms  32.127466  74.402451
94     1500     Unfurnished  1 bathrooms  10.726483  78.763050
...     ...             ...          ...        ...        ...
10150  1050     Unfurnished  2 bathrooms  32.127466  74.402451
10152  1600     Unfurnished  3 bathrooms  26.885074  75.800958
10153  1200     Unfurnished  2 bathrooms  26.885074  75.800958
10158   950       Furnished  2 bathrooms  26.885074  75.800958
10193   600  Semi-Furnished  1 bathrooms  28.657859  77.142429

[266 rows x 11 columns]

In [48]:
df.drop(outliers.index, inplace=True)

# print the cleaned dataset
df

,seller_type,bedroom,layout_type,property_type,locality,price,area,furnish_type,bathroom,Latitude,Longitude
0,OWNER,1,RK,Studio Apartment,Serilingampally,"6,720",320,Furnished,1 bathrooms,17.484205,78.299509
1,OWNER,5,BHK,Villa,Sri Nagar Colony,"36,000",3000,Semi-Furnished,4 bathrooms,17.376880,78.511785
2,OWNER,2,BHK,Independent House,Shaikpet,"11,000",900,Semi-Furnished,2 bathrooms,17.405795,78.400654
3,OWNER,3,BHK,Apartment,Nanakramguda,"45,000",2165,Unfurnished,3 bathrooms,17.412983,78.338635
4,OWNER,3,BHK,Apartment,Kondapur,"20,000",1600,Semi-Furnished,3 bathrooms,18.330960,79.922469
...,...,...,...,...,...,...,...,...,...,...,...
10241,AGENT,1,BHK,Apartment,Begumpet,"6,000",850,Semi-Furnished,1 bathrooms,17.444020,78.462482
10242,AGENT,2,BHK,Apartment,Ameerpet,"12,000",1300,Semi-Furnished,2 bathrooms,17.437501,78.448251
10243,AGENT,2,BHK,Apartment,Ameerpet,"15,000",1200,Semi-Furnished,2 bathrooms,17.437501,78.448251
10244,AGENT,2,BHK,Apartment,Begumpet,"17,000",1300,Furnished,2 bathrooms,17.444020,78.462482
10245,AGENT,2,BHK,Apartment,Somajiguda,"15,000",1500,Semi-Furnished,2 bathrooms,17.425505,78.458520

In [49]:
df = df.dropna()


#mapping
df["seller_type"]=df["seller_type"].map({'OWNER':0,'AGENT':1,'BUILDER':2})
df["layout_type"]=df["layout_type"].map({'BHK':0,'RK':1})
df["property_type"]=df["property_type"].map({'Apartment':0,'Studio Apartment':1,'Independent House':2,'Independent Floor':3,'Villa':4,'Penthouse':5})
df["furnish_type"]=df["furnish_type"].map({'Furnished':0,'Semi-Furnished':1,'Unfurnished':2})


# Removing the 'Not found' records
df=df[df['Latitude']!='Not found'].reset_index(drop=True)

import numpy as np

#values_to_drop = [np.nan, 'East facing', 'West facing', 'North facing', 'South facing', 'Grfloor','NorthWest facing','NorthEast facing','SouthWest facing','SouthEast facing','4 of 5floor']
values_to_need=['2 bathrooms', '1 bathrooms', '3 bathrooms', '6 bathrooms',
   '5 bathrooms', '4 bathrooms', '8 bathrooms', '7 bathrooms',
   '9 bathrooms','12 bathrooms']

# Drop the unwanted values from the 'bathroom' column
df = df[df['bathroom'].isin(values_to_need)]

df['bathroom'] = df['bathroom'].str.replace('bathrooms', '').astype(int)

df['price']= [i.replace(',','') for i in df['price']]
df['price']=df['price'].astype(float)



#removing outliers
desc = df['price'].describe()
q1 = desc.loc['25%']
q3 = desc.loc['75%']
iqr = q3-q1 
lower_lim = q1-(1.5*iqr)
upper_lim = q3+(1.5*iqr)
df = df[(df['price']>=lower_lim)&(df['price']<=upper_lim)]


import pandas as pd
import numpy as np
from sklearn.model_selection import KFold, cross_val_score
from sklearn.ensemble import RandomForestRegressor,VotingRegressor
import xgboost as xgb
import math

X = df.drop(['price','locality'],axis=1).values
y = df[['price']].values
y=y.ravel()

# Set max_features to the square root of the number of features
max_features = int(math.sqrt(X.shape[1]))

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=84)

# Define models
rf_model = RandomForestRegressor(n_estimators=1000, random_state=84,max_depth=20, min_samples_split=20, min_samples_leaf=10, max_features=max_features)
xgb_model = xgb.XGBRegressor(n_estimators=800, random_state=84)


# Ensemble models
# Combine the models using voting ensemble
ensemble_model1 = VotingRegressor(estimators=[('rf', rf_model), ('gb', xgb_model)])
ensemble_model1.fit(X, y)

y_pred = ensemble_model1.predict(X_test)
y_pred
r2 = r2_score(y_test, y_pred)
print(f"r2 of {file_path}:",r2)

mae = mean_absolute_error(y_test, y_pred)
print(f"Mean absolute error of {file_path}:", mae)

D:\python\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
D:\python\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

D:\python\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
D:\python\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

r2 of final_Kolkata_rent.csv: 0.9349078196524694
Mean absolute error of final_Kolkata_rent.csv: 1447.0137476950028

In [22]:
df1['affordability'].describe()

count    10757.000000
mean        28.587191
std        311.715735
min          0.000142
25%          0.052500
50%          0.068966
75%          0.088889
max       6666.666667
Name: affordability, dtype: float64